worker_processes 1;

error_log /dev/stdout error;

pid /var/run/nginx.pid;

events {
    worker_connections ${WORKER_CONNECTIONS};
    # use epoll;
    # multi_accept on;
}

http {
    sendfile            on;
    # tcp_nopush          on;
    # tcp_nodelay         on;

		access_log /dev/stdout;

    include             /usr/local/nginx/conf/mime.types;
    default_type        application/octet-stream;

    include /usr/local/nginx/conf/default.conf;
}
