worker_processes 1;

error_log /dev/stdout error;

pid /var/run/nginx.pid;

events {
	worker_connections ${WORKER_CONNECTIONS};
}

http {
	sendfile            on;
	
	access_log /dev/stdout;

	include             /usr/local/nginx/conf/mime.types;
	default_type        application/octet-stream;

	include /usr/local/nginx/conf/default.conf;
}
